<div class="container">  
  <h2 class="my-4"><%=@crawl.name%>
    <small><%=@crawl.location%></small>
  </h2>
  <h3>On <%=@crawl.date%> for <%=@crawl.duration%> Hours</h3>
  <hr>
  <br>

  <% if @places %>
    <% @places.each_with_index do |place, i| %>
    <h4><%= link_to place.name, show_place_path(place) %></h4>
    <p>Duration: <%= @crawl_places[i].duration %> Hours</p>
    <br>
    <% end %>
  <% end %>
</div>