<h2><%=@crawl.name%></h2>
<h2><%=@crawl.location%></h2>
<h2><%=@crawl.duration%> Hours</h2>
<h2><%=@crawl.date%></h2>

<% if @places %>
  <% @places.each_with_index do |place, i| %>
  <h3><%= link_to place.name, show_place_path(place) %></h3>
  <h3><%= @crawl_places[i].duration %> Hours</h3>
  <br>
  <% end %>
<% end %>