<div class="container">
    <div class="card border-0 shadow my-5 custom-opacity">
    <div class="card-body p-4">
    <h2>Hey, <%=current_user.name%>! Here are the crawls you've been invited to.</h2>
    <br>
    <%if @invited_crawls.empty?%>
        <p>No invites!</p>
    <%else%>
        <div class="row">
            <% @invited_crawls.each do |crawl|%>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"><%= crawl.host.name %>'s <%=link_to crawl.name, show_crawl_path(crawl) %></h2>
                            <h4><%=crawl.location%></h4>
                            <p class="card-text"><%=crawl.duration%> Hours</p>
                            <p class="card-text"><%=crawl.date.strftime('%A, %B %d, %Y')%></p>
                        </div>
                    </div>
                </div>
            <%end %>
        </div>
    <%end %>
    </div>
    </div>
</div>