<div class="container">
    <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
    <div class="card card-signin my-5">
    <div class="card-body">
    <div class="form-signin">  
      <h2 class="text-center mb-4">Sign up for an account!</h2>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :username, class: "col-form-label"%>
          <%= f.text_field :username, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :name, class: "col-form-label" %>
          <%= f.text_field :name,  class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-form-label"%>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-form-label" %>
          <%= f.password_field :password_confirmation,class: "form-control"%>
        </div>
        <%= f.submit "Create an Account", class: "btn btn-primary" %>
      <% end %>
      <% if flash[:errors] %>
        <p class="alert alert-danger"><%= flash[:errors] %></p>
      <% end %>