<div class="jumbotron text-center">
    <h2>Welcome, <%= @user.name %>!</h2>
</div>

<div class="container">
    <%if @user_crawls.empty?%>
        <p>No crawls yet!</p>
    <%else%>
        <% @user_crawls.each do |crawl|%>
            <h2><%=link_to crawl.name, show_crawl_path(crawl) %></h2>
            <h2><%=crawl.location%></h2>
            <h2><%=crawl.duration%> Hours</h2>
            <h2><%=crawl.date%></h2>
        <%end %>
    <%end %>
    <p><%= link_to "Create a crawl", new_crawl_path %></p>
</div>