<h2>Name: <%= @place.name %></h2>
<h2>Address: <%= @place.address %></h2>
<h2>City: <%= @place.city %></h2>
<h2>State: <%= @place.state %></h2>
<h2>Stars: <%= @place.stars %></h2>
<h2>Price Range: <%= @place.price_range %></h2>
<h2>Categories: <%= @place.categories %></h2>
